* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-wrapper {
  background: #fbfbfb !important;
  // height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-header {
  background: #e8f9ff;
  color: #a998ff;
  border: 1px solid #c4d9ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.mat-mdc-header-row {
  color: #4f4f4f !important;
  background: #c4d9ff !important;
  white-space: nowrap !important;
}
.mat-mdc-table {
  border: 1px solid #c4d9ff !important;
  border-radius: 5px !important;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center !important;
}
.mat-mdc-row {
  background: #ebfaff !important;
  color: #525252 !important;
  text-align: center !important;
  &:nth-child(even) {
    background: #f4fcff !important;
  }
}

.dialog-wrapper {
  background: #fbfbfb;
  overflow: hidden;
}
.dialog-header {
  background: #e8f9ff;
  color: #a998ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0.5px solid #c4d9ff;
}

.dialog-body {
  background: #fbfbfb;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #a998ff;
  border: 1px solid #a998ff;
  padding: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  .mat-icon {
    height: 30px;
    width: 30px;
  }
}
.mat-raised-button {
  background: #c4d9ff;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 0 16px;
  height: 36px;
  min-width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  line-height: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #e6e6e6;
  margin: 1rem;
}

.mat-form-field {
  --mdc-outlined-text-field-container-shape: 0px !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(44, 44, 44, 0.7) !important;
}
